{% extends '../base_cadastro.html' %}

{% block title %} Login | Barbershop {% endblock %}

{% block forms %}
    <form action="{% url 'login' %}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {% block title-form %} <h1 class="h3 mb-3 fw-normal">Login</h1> {% endblock %}
        {{form}}
        
        <button class="w-100 btn btn-lg btn-primary" type="submit">entrar</button>
    </form>
{% endblock %}


{% block links %}
    <a class="container" href="{% url 'cadastro:cadastro' %}">não possui conta? clique aqui!</a>
    <a class="container" href="{% url 'cadastro:gerente' %}">voce é um gerente do nosso sistema? clique aqui!</a>
{% endblock %}