{% extends './base_gerente.html' %}
{% load static %}

{% block title %}{% endblock %}
{% block style %}
    <link rel="stylesheet" href="{% static 'css/img.css' %}">
{% endblock %}

{% block body %}
    <div class="container">
        <div class="d-flex container justify-content-between align-items-center mb-4">
            <h1>listando barbeiros cadastrados no sistema</h1>
            <button type="button" class="btn btn-success"><a style="color: white" href="{% url 'agendamento:cadastro_barber' %}">adicionar</a></button>
        </div>
        <div class="container">
            {% for barber in barbeiros %}
                <div class="container d-flex justify-content-between align-items-center border p-3 mb-2 rounded-end shadow-sm">
                    <div class="descricao d-flex align-items-center">
                        <div class="box-image me-3">
                            <img src="{{ barber.img.url }}" alt="">
                        </div>
                        {{barber.user.username}}
                    </div>
                    <div class="actions d-flex justify-content-center align-itens-center ">
                        <button type="button" class="btn btn-primary me-3"><a style="color: white" href="{% url 'agendamento:detailbarber' barber.id %}">detalhes</a></button>
                        <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal{{barber.user.username}}">apagar</button>
                    </div>
  
                    <!-- Modal -->
                    <div class="modal fade" id="exampleModal{{barber.user.username}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">confirmação para deletar o barbeiro</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                            Você tem certeza que quer apagar o barbeiro {{barber.user.username}} da lista de barbeiros do nosso sistema?
                            </div>
                            <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                            <button type="button" class="btn btn-primary"><a style="color: white" href="{% url 'agendamento:delbarber' barber.id %}">prosseguir</a></button>
                            </div>
                        </div>
                        </div>
                    </div>
  
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}