{% extends './base_gerente.html' %}
{% load static %}

{% block title %}{% endblock %}
{% block style %}
    <link rel="stylesheet" href="{% static 'css/img.css' %}">
{% endblock %}

{% block body %}
    <div class="container">
        <h1>listando barbeiros cadastrados no sistema</h1>
        <div class="container">
            {% for barber in barbeiros %}
                <div class="container d-flex justify-content-between align-items-center border p-3 mb-2 rounded-end shadow-sm">
                    <div class="descricao d-flex align-items-center">
                        <div class="box-image me-3">
                            <img src="{{ barber.img.url }}" alt="">
                        </div>
                        {{barber.user.username}}
                    </div>
                    <div class="actions d-flex justify-content-center align-itens-center ">
                        <button type="button" class="btn btn-primary me-3">visualizar</button>
                        <button type="button" class="btn btn-danger">apagar</button>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}