{% extends './base_gerente.html' %}
{% load static %}
{% block title %}Adicionar | Serviço {% endblock %}

{% block body %}
<div class="container">
  {% block forms %}
  <form action="{% url 'agendamento:new_service' %}" method="POST" enctype="multipart/form-data">
      {% csrf_token %}
      {% block title-form %} <h1 class="h3 mb-3 fw-normal">Adicionar Serviço</h1> {% endblock %}
      <div class="form-floating mb-3">
          <div>
              {{form_service.nome.label}}
          </div>
          <div>
              {{form_service.nome}}
          </div>
      </div>
      <div class="form-floating mb-2">
          <div>
              {{form_service.descricao.label}}
          </div>
          <div>
              {{form_service.descricao}}
          </div>
      </div>
      <div class="form-floating mb-2">
          <div>
              {{form_service.tipo.label}}
          </div>
          <div>
              {{form_service.tipo}}
          </div>
      </div>
      <div class="form-floating mb-2">
          <div>
              {{form_service.preco.label}}
          </div>
          <div>
              {{form_service.preco}}
          </div>
      </div>
      {% if form_service.errors %}
      <div class="errors">
        {{form_service.errors}}  
      </div>
      {% endif %}
      <button class="w-100 btn btn-lg btn-primary" type="submit">criar serviço</button>
  </form>
{% endblock %}
</div>
{% endblock %}