{% extends '../base_cadastro.html' %}

{% block title %} Cadastro| Barbershop {% endblock %}
{% block type %} Cadastro {% endblock %}
{% block inputs %}
<div class="form-floating mb-3">
    <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
    <label for="floatingInput">Username</label>
</div>
<div class="form-floating mb-2">
    <input type="email" class="form-control" id="floatingPassword" placeholder="example@gmail.com">
    <label for="floatingPassword">email</label>
</div>

<div class="form-floating mb-2">
    <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
    <label for="floatingPassword">Password</label>
</div>
<div class="form-floating mb-2">
    <input type="text" class="form-control" id="cpf" placeholder="123.456.789-00">
    <label for="floatingPassword">cpf</label>
</div>
<div class="checkbox mb-3">
    <label>
        <input type="checkbox" value="remember-me"> Lembre-me
    </label>
</div>
<button class="w-100 btn btn-lg btn-primary" type="submit">Entrar</button>
{% endblock %}
{% block links %}
    <a href="{% url 'cadastro:login' %}">já possui conta? clique aqui!</a>
    <a href="{% url 'cadastro:gerente' %}">voce é um gerente do nosso sistema? clique aqui!</a>
{% endblock %}